#loginTextField{
    -fx-start-margin: 15px;
    -fx-max-width: 200px;
    -fx-min-width: 100px;
}

#passwordField{
    -fx-max-width: 200px;
    -fx-min-width: 100px;
    -fx-start-margin: 15px;

}

#logo{
    -fx-image: url("/to/projekt/to2021projekt/logo/logo.png");
}