#emailTextInput{
    -fx-start-margin: 15px;
    -fx-max-width: 200px;
    -fx-min-width: 100px;
}

#passwordField{
    -fx-start-margin: 15px;
    -fx-max-width: 200px;
    -fx-min-width: 100px;
}

#repeatPasswordField{
    -fx-start-margin: 15px;
    -fx-max-width: 200px;
    -fx-min-width: 100px;
}